{:deps     {:aliases [:dev]}
 :nrepl    {:port 11111}
 :dev-http {8000 "classpath:public"}
 :builds   {:main {:target     :browser
                   :output-dir "resources/public/js/main"
                   :asset-path "/js/main"
                   :dev        {:compiler-options {:external-config {:fulcro {:html-source-annotations? true}}}}
                   :modules    {:main {:init-fn todoapp.client/init
                                       :entries [todoapp.client]}}
                   :devtools   {:after-load todoapp.client/refresh
                                :preloads   [com.fulcrologic.fulcro.inspect.preload
                                             com.fulcrologic.fulcro.inspect.dom-picker-preload]}}}}